@font-face {
    font-family: 'Cairo', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap);
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: ##eeeeed;
}

.logo {
    font-weight: 700;
    font-size: 1.8rem;
    color: #232734;
}

.footer-text {
    font-size: 0.8rem;
    color: #232734;
}

.navbar {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    color: #232734;
}